<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">The Best REST Api</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-6">
            <h5>Search DB table Production.Product<br />by following arguments:</h5>
            <form method="get" id="search-product">
                <div class="form-group">
                    <label for="name">Product name:</label>
                    <input id="name" name="name" type="text" class="form-control" placeholder="Enter product name" />
                    <label for="date">Sell start date:</label>
                    <input id="date" name="date" type="date" class="form-control" />
                    <label for="keyword">Keyword:</label>
                    <input id="keyword" name="keyword" type="text" class="form-control" placeholder="Enter keyword" />
                    <label for="pageIndex" class="col-form-label">Page index:</label>
                    <input id="pageIndex" name="pageIndex" type="number" class="form-control" />
                    <label for="pageSize" class="col-form-label">Page size:</label>
                    <input id="pageSize" name="pageSize" type="number" class="form-control" />
                </div>
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
        <div class="col-6">
            <h5>Get purchase order details for period:</h5>
            <form method="get" id="purchase-details">
                <div class="form-group">
                    <label for="start">Start time:</label>
                    <input id="start" name="start" type="date" class="form-control" />
                    <label for="end">End time:</label>
                    <input id="end" name="end" type="date" class="form-control" />
                    <label for="pageIndex" class="col-form-label">Page index:</label>
                    <input id="pageIndex" name="pageIndex" type="number" class="form-control" />
                    <label for="pageSize" class="col-form-label">Page size:</label>
                    <input id="pageSize" name="pageSize" type="number" class="form-control" />
                </div>
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
        <div class="col-12">
            <div id="result-container" class="col-md-12 result-container p-0 mt-4" style="height:200px; border:1px solid lightgray;">
                <p class="p-2">...waiting result</p>
            </div>
        </div>
    </div>
    <hr />
</div>